/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */
/* Colors */

$color-primary: #292934;
$color-primary-light: #40424f;
$color-primary-green: #52e3c2;

$color-white: #ffffff;
$color-grey: #f9f9f9;
$color-black: #000000;

/* Size */

$font-size-h1: 64px;
$font-size-h1-xxl: 84px;
$font-size-h2: 40px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

$font-size-caption: 0.75rem;
$font-size-normal: 1.125rem;
$font-size-small: 1rem;

/* Line-height */

$line-height-h1: 76px;
$line-height-h2: 48px;
$line-height-h3: 28px;
$line-height-h4: 22px;
$line-height-h5: 20px;
$line-height-h6: 20px;

/* Spacing */

$spacing-xs: 5px;
$spacing-xs: 10px;
$spacing-s: 15px;
$spacing-m: 20px;
$spacing-l: 40px;
$spacing-xl: 80px;
