.c-articles {
  padding-top: 40px;
}

.c-articles--preview {
  padding-top: 120px;
}

.c-article {
  background-color: $color-primary-light;
  padding: 20px;
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }
}

.c-article__meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.c-article__tag {
  opacity: 0.7;
  padding-bottom: 5px;
  display: block;
  font-size: 0.9rem;
}

.c-article__header {
  margin-bottom: 20px;
}

.c-article__read-btn {
  display: flex;
  align-items: center;

  i {
    margin-left: $spacing-xs;
    transition: transform 0.3s ease;
  }
  &:hover {
    i {
      transform: translateX($spacing-xxs);
    }
  }
}
